{
  "parser": "@babel/eslint-parser",
  "parserOptions": {
    "requireConfigFile": false,
    "babelOptions": {
      "presets": ["@babel/preset-env"]
    }
  },
  "extends": "airbnb-base",
  "env": {
    "mocha": true,
    "browser": true
  },
  "rules": {
    "no-unused-expressions": "off",
    "import/no-import-module-exports": "off"
  }
}
